.grid-view {
  display: grid;
  max-width: 100% !important;
  grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
  grid-auto-rows: 150px;
  row-gap: 10px;
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.load-more {
  margin: 2rem;
  background: #f3f3f3;
  border: 0px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
